body {
    margin: 0;
    padding: 0;
    width: auto;
    background-image: url('../utils/img/background-wall-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    min-height: 100vh;
}